:root {
  --colortext: red;
  --black-bg: #090719;
  --main-text-color: #FDFDFD;
  --header-font-size: 14px;
  --a-deco: none;
  --list-style: none;
  --upper-text: uppercase;
  --indigo: rgba(31, 12, 185, 1);
  --sunflower: #D6E83B;
  --berry: #E70E31;
  --listen-button-font-size: 16px;
  --hero-text-main: 12rem;
  --hero-text-descr: 30px;
  --header-and-genre-text-size: 14px;
  --band-text-size: 24px;
  --main-big-text: 48px;
  --p-text-size: 18px;
  --background-main: #0D0A1C;
  --gray-text: #D1D5DC;
  --footer-text: #99A1AF;
  --border-tracks: #27272A;
  --text-blue-shadow: rgb(31, 12, 185) 4px 4px 0px, rgba(31, 12, 185, 0.5) 8px 8px 0px, rgba(0, 0, 0, 0.9) 12px 12px 30px;
  --text-spacing: 0.92px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --secondary-text-shadow: rgb(231, 14, 49) 2px 2px 0px;
  --tw-skew-y: skewY(calc(1deg * -1));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* width: 100vw; */
  perspective: 1px;
  transform-style: preserve-3d;
}

.section1, .section2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}


.courier {
  font-family: 'Courier New', Courier, monospace;
}

.impact {
  font-family: Impact, "Arial Black", sans-serif;
}

.sans-serif {
  font-family: sans-serif, systen-ui;
}

.wrapper {
  background: var(--background-main);
  color: var(--main-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-bg);
  height: 80px;
  color: var(--main-text-color);
  border-bottom: 3px solid var(--sunflower);
  font-size: var(--header-font-size);
  text-transform: var(--upper-text);
  padding: 20px 90px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerlist {
  display: flex;
  gap: 12px;
  color: var(--main-text-color);
  text-decoration: none;
  list-style-type: var(--list-style);
}

.logo img {
  width: 120px;
  height: 55px;
}

button {
  background-color: var(--black-bg);
  color: var(--main-text-color);
  display: inline-block;
  font-size: var(--listen-button-font-size);
  text-transform: var(--upper-text);
  border: 2px solid var(--indigo);
  padding: 8px 24px;
  -webkit-box-shadow: 4px 4px 0px 0px var(--indigo);
}

button:hover {
  color: var(--main-text-color);
  background-color: var(--berry);
  border: 2px solid var(--sunflower);
  -webkit-box-shadow: 4px 4px 0px 0px var(--sunflower);
}

button a:hover {
  color: var(--main-text-color);
}

.content {
  background: var(--background-main);
}

a {
  text-decoration: var(--a-deco);
}

a:visited {
  color: var(--main-text-color);
}

a:hover {
  color: var(--berry);
}

h1 {
  font-size: var(--hero-text-main);
  color: var(--main-text-color);
  text-shadow: var(--text-blue-shadow);
  letter-spacing: var(--text-spacing);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

h2 {
  font-size: var(--hero-text-descr);
  font-weight: var(--font-weight-medium);
  color: var(--gray-text);
  line-height: 1.5;
}

h3 {
  font-size: var(--main-big-text);
  letter-spacing: var(--text-spacing);
  font-weight: var(--font-weight-normal);
  text-shadow: var(--secondary-text-shadow);
  line-height: 1.5;
}

h4 {
  font-size: var(--band-text-size);
  font-weight: var(--font-weight-medium);
  color: var(--berry);
  line-height: 1.5;
  text-transform: var(--upper-text);
}

h4.courier {
  margin-bottom: 24px;
}

p {
  font-size: var(--p-text-size);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  color: var(--gray-text);
  display: block;
}

.hero {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/201/original/babusyas.png?1764260091');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 6px solid var(--indigo);
}

.hero-text {
  transform: rotate(-1deg);
}

.divider {
  background-color: var(--indigo);
  width: 48%;
  height: 2%;
  margin-bottom: 12px;
}

main {
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  background: var(--black-bg);
  width: 60%;
  border: 4px solid var(--indigo);
  transform: var(--tw-skew-y);
}

.abt {
  margin-bottom: 24px;
}

.italic {
  font-size: 20px;
  font-style: italic;
  color: var(--main-text-color);
}

.title-big {
  position: relative;
}

.blue-line-before::before {
  background: var(--indigo);
  width: 2px;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

.tracks {
  padding: 90px;
  padding: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tracks-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  background: var(--black-bg);
  width: 100%;
  border: 4px solid var(--border-tracks);
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}

.rotation {
  rotate: 1deg;
}

.rotation1 {
  rotate: -1deg;
}

.genre {
  width: 130px;
  text-align: center;
  background: var(--indigo);
  padding: 4px 16px;
  text-transform: var(--upper-text);
  font-size: var(--header-and-genre-text-size);
  letter-spacing: var(--text-spacing);
}

p.genrep{
  border-left: 4px solid var(--indigo);
  padding: 16px;
  margin-bottom: 24px;
}

.styles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: var(--list-style);
  text-transform: var(--upper-text);
  font-size: var(--listen-button-font-size);
  gap: 14px;
}

li.styles {
  border: 2px solid var(--sunflower);
  padding: 8px 16px;
  -webkit-box-shadow: 4px 4px 0px 0px var(--sunflower);
}

.bandpic {
  margin-right: 60px;
  object-fit: contain;
}

.bandpic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description:hover {
  transform: scale(1.2);
  border: 4px solid var(--indigo);
  rotate: 3deg;
}

.info {
  width: 70%;
}

footer {
  display: flex;
  justify-content: center;
  color: var(--footer-text);
  letter-spacing: 0.3px;
  border-bottom: 3px solid var(--sunflower);
}

footer p {
opacity: 0.5;
}

.upbord {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px 32px;
  width: 45%;
  border-top: 3px solid var(--berr);
}

.motto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  row-gap: 16px;
  column-gap: 24px;
  gap: 24px;
  margin: 32px;
  color: var(--indigo);
}

.mini {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
}

footer a {
  color: var(--footer-text);
  font-weight: 600;
}

footer a:visited {
  color: var(--footer-text);
}

footer a:hover {
  color: var(--sunflower);
}